VITE_API_URL=http://localhost:5000/api
VITE_SUPABASE_URL="sb_publishable_R68DsVnY2-tOhQQs8jcE3Q_eyHWm4Ul"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im10enR3dGRyb2l0cGtyeWRrem1xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg2OTMxMjIsImV4cCI6MjA5NDI2OTEyMn0.zDRPiRBpLK9MRPBk-GXf30xt1lOBvfiULFLfxbE0kPk"
